
body
{
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    color: rgb(9, 5, 59);    
}
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    color: rgb(9, 5, 59);
}
a
{
    color: brown;
}
a:hover
{
    color: rgb(9, 5, 59);
}